body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #121212;
    /* Very dark grey/black */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1e1e1e;
    /* Dark grey */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 1200px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #f4f4f4;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.recipe-card {
    background: linear-gradient(to bottom right, #2c2c2c, #1e1e1e);
    /* Subtle gradient */
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    
}

.recipe-card:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.recipe-card h3 {
    margin-top: 0;
    color: #6495ED;
    font-size: 1.4em;
    /* Slightly smaller heading */
}

.recipe-card p {
    color: #ddd;
    line-height: 1.5;
    font-size: 0.9em;
    /* Smaller paragraph text */
    margin-bottom: 10px;
}

.recipe-card .ingredients {
    font-style: italic;
}

.recipe-card .baking-info {
    font-weight: bold;
}

/* Accent Color (optional) */
header h1 {
    color: #6495ED;
    /* Keeping the blue accent */
}